
main {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #FAFAFA;
    padding: 5% 0;
}

form {
    width: 1050px;
    min-height: 650px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    
}
    #dvTitulo {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
        .OptionTipoUsuario {
            border: 1px solid #777;
            color: #777;    
            margin: 0 5px;
            padding: 5px 20px;
            border-radius: 10px;
            cursor: pointer;
        }

        .radioTipo {
            display: none;
        }

        .radioTipo:checked ~ .OptionTipoUsuario {
            background-color: #175fac;
            border: 1px solid #175fac;
            color: #fff;
        }

    form p {
        text-align: left;
        width: 100%;
    }
        .campos {
            color: #777;
        }

        .inputFormulario {
            padding: 5px 15px;
            font-size: 18px;
            border-radius: 10px;
            border: 2px solid #ddd;
            outline: none;
        }
            
            .inputFormulario:focus {
                border: 2px solid #999;
            }

        #btnCadastrar {
            font-weight: bolder;
            padding: 10px 50px;
            background-color: #175fac;
            border: 1px solid #175fac;
            color: #fff;
            font-weight: bolder;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            margin-top: 15px;
        }

            #btnCadastrar:hover {
                background-color: #2372c7;
            }


        table {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
        }

            table p {
                padding: 20px 5px;
            }

            #palavrasChave {
                max-width: 803px;
                min-height: 35px;
                padding: 5px 15px;
                font-size: 18px;
                border-radius: 10px;
                border: 2px solid #ddd;
                outline: none;
            }

                #addPalavraChave {
                    padding: 0 5px;
                    border-radius: 50%;
                    background-color: #ddd;
                    color: #999;
                    cursor: pointer;
                    user-select: none;
                }

                    #addPalavraChave:hover {
                        background-color: #ddd;
                    }

                #palavrasChave:hover {
                    border: 2px solid #999;
                }


                .palavraChave {
                    width: 138px;
                    height: 30px;
                    border: 0;
                    outline: none;
                    border-radius: 15px;
                    margin: 5px;
                    padding: 5px 15px;
                    outline: none;
                    background-color: #2372c7;
                    color: #fff;
                }

            .dropdown {
                width: 100%;
                padding: 5px 15px;
                font-size: 18px;
                border-radius: 10px;
                border: 2px solid #ddd;
                outline: none;
            }

            #sobreVaga {
                max-width: 789px;
                min-width: 789px;
                max-height: 152px;
                min-height: 152px;
                border-radius: 10px;
                border: 2px solid #ddd;
                outline: none;
                padding: 5px 15px;
            }   

                #sobreVaga:focus {
                    border: 2px solid #999;
                }

            #sobreEmpresa {
                border: 2px solid #ddd;
                border-radius: 10px;
                outline: none;
                padding: 10px;
                min-height: 180px;
                max-height: 180px;
                min-width: 949px;
                max-width: 949px;
            }

                #sobreEmpresa:focus {
                    border: 2px solid #999;
                }