
main {
    padding: 30px 4%;
    background-color: #FAFAFA;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

.vaga {
    box-sizing: content-box;
    position: relative;
    width: 500px;
    height: 272px;
    border: 1px solid #ececec;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    margin: 15px 15px 0 0;
}
    .divisao {
        width: 150px;
        height: 3px;
        border-radius: 10px;
        background-color: #000;
        margin-top: 5px;
    }

    .nomeVaga {
        color: #175fac;
        margin-bottom: 10px;
    }

    .descricaoVaga {
        max-height: 150px;
        overflow: hidden;
        color: rgb(105, 105, 105);
    }

    .linkVaga {
        position: absolute;
        bottom: 20px;
        left: 15px;
        background-color: #175fac;
        color: #fff;
        text-decoration: none;
        outline: none;
        padding: 8px 15px;
        border-radius: 10px;
        font-weight: bolder;
    }

        .linkVaga:hover {
            background-color: #2372c7;
        }




