
#root {
    width: 100%;
    min-height: 350px;
    padding: 0 10vw;
    background-color: #FAFAFA;
}

#root .container {
    display: flex;
    flex-direction: column;
}


.wrapperTitle {
    margin-top: 1rem;
    position: relative;
}


.wrapperTitle::after {
    bottom: -10px;
    content: "";
    position: absolute;
    width: 15vw;
    height: 4px;
    background-color: #000;
}


.wrapper {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.vaga {
    position: relative;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    min-height: 272px;
    border: 1px solid #ececec;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    padding-bottom: 1rem;
    margin: 1rem 1rem 0 0;
}

#nomeEmpresa {
    color: #888;
}

#salario {
    color: #555;
}

    #salario b{
        color: #02a102;
    }

#vagasDisponiveis {
    font-weight: bolder;
    color: #444;
}

.nomeVaga {
    color: #175fac;
    margin-bottom: 0.2rem;
}

.descricaoVaga {
    color: rgb(105, 105, 105);
    max-height: 100px;
    overflow: hidden;
    margin-top: 1rem;
}

.linkVaga {
    text-align: center;
    background-color: #175fac;
    color: #fff;
    text-decoration: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 30px;
}

.linkVaga:hover {
    background-color: #2372c7;
}


.AlertaSemConteudo {
    padding: 100px;
    color: #999;
}

.btnEditarVaga{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #257cda;
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bolder;
}
