main {
    display: flex;
    /* justify-content: space-between; */
    padding: 30px 4%;
    background-color: #FAFAFA;
}

    #vaga {
        width: 800px;
        min-height: 180px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
    }

        #nomeVaga {
            color: #175fac;
        }

        #nomeEmpresa {
            color: #3489e4;
        }

            #nomeEmpresa img {
                margin-right: 5px;
            }

        #palavrasChaves {
            margin-top: 25px;
            font-weight: bolder;
            color: #888;
        }

            .palavra {
                background: rgba(23, 94, 171, 0.7);
                color: #fff;
                padding: 5px 10px;
                margin: 0 5px;
                border-radius: 10px;
                cursor: pointer;
            }

                .palavra:hover {
                    background: rgba(23, 94, 171, 1);
                }

        #salario {
            margin-top: 1.5rem;
            color: #555;
        }

            #salario b{
                color: #02a102;
            }

        #regiao {
            color: #555;
        }

        #vagasDisponiveis {
            font-weight: bolder;
            color: #444;
        }

        #descricaoVaga {
            margin-top: 25px;
            color: #000;
        }

        #linkCandidatarSe {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            height: 50px;
            background-color: #175fac;
            color: #fff;
            border-radius: 10px;
            text-decoration: none;
            font-weight: bolder;
            outline: none;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }
            #linkCandidatarSe img {
                margin-left: 10px;
            }

            #linkCandidatarSe:hover {
                background-color: #2372c7;
            }

            #linkCandidatarSe:disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }


    #empresa {
        box-sizing: content-box;
        width: 30%;
        min-height: 300px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        background-color: #fff;
        margin-left: 50px;
    }

        #empresa h2 {
            color: #175fac;
        }
        
        #empresa h2 img {
            margin-right: 5px;
        }

        #sobreEmpresa {
            margin-top: 25px;
        }

        #enderecoEmpresa {
            margin-top: 15px;
        }

        #enviarMensagem {
            padding: 10px;
            margin-top: 2rem;
            border-radius: 10px;
            border: 2px solid #175fac;
            text-decoration: none;
            color: #175fac;
            background-color: #fff;
            font-size: 18px;
            font-weight: bolder;
            transition: background-color 130ms linear, color 130ms linear;
        }

            #enviarMensagem:hover {
                background-color: #175fac;
                color: #fff;
            }

    #CandidatosInscritos {
        border-top: 1px solid #ccc;
        padding-top: 15px;
    }
        #CandidatosInscritos h3 {
            position: relative;
            margin-bottom: 35px;
        }

        #CandidatosInscritos h3::after {
            left: 0;
            bottom: -5px;
            content: "";
            position: absolute;
            width: 10vw;
            height: 2px;
            background-color: #000;
        }

        .dadosCandidato {
            padding: 5px 20px;
            height: 50px;
            margin: 0;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            /* background-color: #f00; */
        }

        .btnEnviarMsg {
            margin-left: 10%;
            background-color: #257cda;
            border: 1px solid #257cda;
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            padding: 10px 20px;
        }

        #nenhumCandidato {
            padding: 5px 20px;
            height: 50px;
            text-transform: uppercase;
            color: #555;
        }